---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "The Obesity Code",
		desc: "Jason Fung, MD",
		href: "https://www.amazon.com/Obesity-Code-Unlocking-Secrets-Weight/dp/1536682187",
	},
	{
		title: "Why Startups Fail",
		desc: "Tom Eisenmann",
		href: "https://www.amazon.com/Why-Startups-Fail-Roadmap-Entrepreneurial/dp/0593137027",
	},
	{
		title: "Nonviolent Communication",
		desc: "Marshall B. Rosenberg",
		href: "https://www.amazon.com/Nonviolent-Communication-Language-Life-Changing-Relationships/dp/189200528X",
	},
	{
		title: "How to Win Friends & Influence People",
		desc: "Dale Carnegie",
		href: "https://www.amazon.com/How-Win-Friends-Influence-People/dp/0671027034",
	},
	{
		title: "Desigining Data-Intensive Applications",
		desc: "Martin Kleppman",
		href: "https://www.amazon.com/Designing-Data-Intensive-Applications-Reliable-Maintainable/dp/1449373321",
	},
	{
		title: "Atomic Habits",
		desc: "James Clear",
		href: "https://www.amazon.com/Atomic-Habits-Proven-Build-Break/dp/1847941842",
	},
	{
		title: "Crucial Conversations: Tools for Talking When Stakes Are High",
		desc: "Joseph Grenny, Ron McMillan, Al Switzler, Kerry Patterson",
		href: "https://www.amazon.com/Crucial-Conversations-Talking-Stakes-Second/dp/1469266822",
	},
	{
		title: "Explain the Cloud Like I'm 10",
		desc: "Todd Hoff",
		href: "https://a.co/d/b67vYRi",
	},
	{
		title: "The Pragmatic Programmer",
		desc: "Andrew Hunt, David Thomas",
		href: "https://www.amazon.com/Pragmatic-Programmer-Journeyman-Master/dp/020161622X",
	},
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">me</h1>
		<p class="mb-4">
			software engineer based in los angeles, united states.
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">books</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				cactusTech.map(({ href, title, desc }) => (
					<li>
						<a
							href={href}
							target="_blank"
							rel="noopener noreferrer"
							class="cactus-link inline-block"
						>
							{title}
						</a>: 
						<p class="inline-block sm:mt-2">{desc}</p>
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
